---
import Logo from "@/components/core/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;

const has_social = Object.entries(social).some(
  ([key, value]) => key != "title" && value
);
---
<footer class="footer bg-neutral text-neutral-content p-10">
  <div class="container !bg-transparent">
    <div class="flex justify-between w-full">
      <aside>
        <Logo showText={false} />
        <p>Andy Chapman<br />
          {location}
        </p>
        <a class="mb-2 hover:text-secondary" href={`mailto:${email}`}>
          {email}
        </a>
      </aside>
      <!-- <div>
        <p class="mt-6">
          {footer_description}
        </p>
      </div> -->
      <nav>
        <h6 class="footer-title">Quick Links</h6>
        <ul class="list-none">
          {footer.map((item, i) => (
            <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
              <a
                class="hover:text-primary hover:underline "
                href={item.url}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
      {
        has_social && (
        <nav>
          <h6 class="footer-title">{social.title ?? "Social"}</h6>
          <Social source={social} className="social-icons ml-0" />
        </nav>
        )
      }
    </div>
    <div class="flex justify-start w-full">
      <p class="mt-6" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
