---
import Section from "@/components/core/Section.astro";
import BizCard from "@/components/BizCard.astro"
import WorkExp from "@/components/react/WorkExp"
import Education from "@/components/react/Education"
import Certifications from "@/components/react/Certifications"
import Features from "@/components/Features.astro";
import Testimonial from "@/components/Testimonial.astro";
import FeatherIcon from "@/components/react/FeatherIcon";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const homepage = await getEntry("homepage", "index");
const { hero, summary, education, certifications, sections, features, testimonial } = homepage && homepage.data;
const employment = await getEntry('workExp', 'index');
const { employment_history } = employment && employment.data;
const call_to_action = homepage && homepage.data.call_to_action;
---

<Base>
  <!-- hero -->
  <section class="py-2 lg:pt-10 lg:pb-5">
    <div class="container mx-auto lg:w-3/4 xl:w-1/2">
      <div class="row animate-fade-in">
        <section>
          <BizCard card_data={hero} />
        </section>
      </div>
    </div>
  </section>

  <!-- summary -->
  <section class="py-5 bg-neutral-content shadow-md animate-fade-in">
    <div class="container !bg-transparent dark:text-neutral">
      <div class="row">
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='thumbsUp' size={26} className="mr-2" client:load />
            About Me
          </h2>
          <div class="px-5">
            <p set:html={markdownify(summary)} />
          </div>
        </section>
      </div>
    </div>
  </section>

  <!-- work_exp -->
  <section class="py-5">
    <div class="container">
      <div class="row animate-fade-in">
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='briefcase' size={26} className="mr-2" client:load />
            Work Experience
          </h2>
          <div class="px-5">
            <WorkExp employment_history={employment_history} />
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 animate-fade-in">
        <!-- education -->
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='penTool' size={26} className="mr-2" client:load />
            Education
          </h2>
          <div class="px-5">
            <Education education_data={education} />
          </div>
        </section>

        <!-- certifications -->
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='star' size={26} className="mr-2" client:load />
            Certifications
          </h2>
          <div class="px-5">
            <Certifications cert_data={certifications} />
          </div>
        </section>
      </div>
    </div>
  </section>

  <!-- skills -->
  <section class="py-5">
    <div 
      class="container"
    >
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 animate-fade-in">
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='barChart' size={26} className="mr-2" client:load />
            Hard Skills
          </h2>
          <div class="px-5">
            <p set:html={markdownify(summary)} />
          </div>
        </section>
        <section>
          <h2 class="flex items-center mb-3">
            <FeatherIcon name='barChart2' size={26} className="mr-2" client:load />
            Soft Skills
          </h2>
          <div class="px-5">
            <p set:html={markdownify(summary)} />
          </div>
        </section>
      </div>
    </div>
  </section>

  <!-- multi section -->
  {
    sections && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }
  <!-- key features -->
  <Features features={features} />
  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />
  <!-- call to action -->
  <Cta {...call_to_action} />
  <!-- <Content /> -->
</Base>
