---
import BizCard from "@/components/BizCard.astro"
import WorkExp from "@/components/react/WorkExp"
import Education from "@/components/react/Education"
import Certifications from "@/components/react/Certifications"
import Skills from "@/components/react/Skills"
import FeatherIcon from "@/components/react/FeatherIcon";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const homepage = await getEntry('homepage', 'index');
const { hero, summary, education, certifications, skills } = homepage && homepage.data;
const employment = await getEntry('workExp', 'index');
const { employment_history } = employment && employment.data;
---

<Base entry_keys={['homepage', 'index']}>
  <!-- hero -->
  <div class="lg:pb-5 mt-6 lg:mt-8">
    <div class="container mx-auto max-w-4xl">
      <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <BizCard card_data={hero} />
      </div>
    </div>
  </div>

  <!-- summary -->
  <div class="py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="row">
        <section>
          <h2 class="section-title">
            <FeatherIcon name='thumbsUp' size={26} className="mr-2" client:load />
            About Me
          </h2>
          <div class="md:px-5">
            <p set:html={markdownify(summary)} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- work_exp -->
  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="row">
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" />
          <h2 class="collapse-title section-title">
            <FeatherIcon name='briefcase' size={26} className="mr-2" client:load />
            Work Experience
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <WorkExp employment_history={employment_history} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-8">
        <!-- education -->
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" />
          <h2 class="collapse-title section-title">
            <FeatherIcon name='penTool' size={26} className="mr-2" client:load />
            Education
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Education education_data={education} />
          </div>
        </section>

        <!-- certifications -->
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" />
          <h2 class="collapse-title section-title">
            <FeatherIcon name='star' size={26} className="mr-2" client:load />
            Certifications
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Certifications cert_data={certifications} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- skills -->
  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-8">
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" />
          <h2 class="collapse-title section-title">
            <FeatherIcon name='barChart' size={26} className="mr-2" client:load />
            Hard Skills
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Skills skills={skills.hard_skills} />
          </div>
        </section>
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" />
          <h2 class="collapse-title section-title">
            <FeatherIcon name='barChart2' size={26} className="mr-2" client:load />
            Soft Skills
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Skills skills={skills.soft_skills} />
          </div>
        </section>
      </div>
    </div>
  </div>
</Base>
