---
import BizCard from "@/components/BizCard.astro"
import WorkExp from "@/components/react/WorkExp"
import Education from "@/components/Education.astro"
import Certifications from "@/components/react/Certifications"
import Skills from "@/components/react/Skills"
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const homepage = await getEntry('homepage', 'index');
const { hero, summary, education, certifications, skills } = homepage && homepage.data;
const employment = await getEntry('workExp', 'index');
const { employment_history } = employment && employment.data;
---

<Base entry_keys={['homepage', 'index']}>
  <!-- hero -->
  <div class="lg:pb-5 mt-6 lg:mt-8">
    <div class="container mx-auto max-w-4xl">
      <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <BizCard card_data={hero} />
      </div>
    </div>
  </div>

  <!-- summary -->
  <div class="py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="row">
        <section>
          <h2 class="section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#thumbs-up" />
              </svg>
            </span>
            About Me
          </h2>
          <div class="md:px-5">
            <p set:html={markdownify(summary)} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- work_exp -->
  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="row">
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" aria-labelledby="experience-title" />
          <h2 id="experience-title" class="collapse-title section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#briefcase" />
              </svg>
            </span>
            Work Experience
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <WorkExp employment_history={employment_history} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-8">
        <!-- education -->
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" aria-labelledby="education-title" />
          <h2 id="education-title" class="collapse-title section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#pen-tool" />
              </svg>
            </span>
            Education
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Education education_data={education} />
          </div>
        </section>

        <!-- certifications -->
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" aria-labelledby="cert-title" />
          <h2 id="cert-title" class="collapse-title section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#star" />
              </svg>
            </span>
            Certifications
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Certifications cert_data={certifications} />
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- skills -->
  <div class="py-1 sm:py-5">
    <div class="container intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-8">
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox" aria-labelledby="hard-skills-title" />
          <h2 id="hard-skills-title" class="collapse-title section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#bar-chart" />
              </svg>
            </span>
            Hard Skills
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Skills skills={skills.hard_skills} />
          </div>
        </section>
        <section class="collapse max-sm:collapse-plus sm:collapse-open">
          <input class="w-full h-full" type="checkbox"  aria-labelledby="soft-skills-title" />
          <h2 id="soft-skills-title" class="collapse-title section-title">
            <span class="mr-2">
              <svg class="feather-icon" width="26" height="26">
                <use href="node_modules/feather-icons/dist/feather-sprite.svg#bar-chart-2" />
              </svg>
            </span>
            Soft Skills
          </h2>
          <div class="collapse-content px-0 md:px-5">
            <Skills skills={skills.soft_skills} />
          </div>
        </section>
      </div>
    </div>
  </div>
</Base>
